<div class="main">
    <div class="hero-banner">
        <div class="list">
            <ul>
                <li>Woman's Fasion</li>
                <li>Men's Fasion</li>
                <li>Electronics</li>
                <li>Home & Lifestyle</li>
                <li>Medicine</li>
                <li>Sports & Outdoor</li>
                <li>Baby's & Toys</li>
                <li>Groceries & Pets</li>
                <li>Health & Beuty</li>
            </ul>
        </div>
        <div class="carousel">
            <app-carousel></app-carousel>
        </div>
        <div class="app">
            <app-body-titles smallTitle="Today's" bigTitle="Flash Sales"></app-body-titles>
            <div class="items-container">
                <app-item itemName="PC Controller" [value]=130 [numYellowStars]=1
                    imgSource="/assets/image4.png"></app-item>
                <app-item itemName="PC Controller" [value]=130 [numYellowStars]=1
                    imgSource="/assets/image5.png"></app-item>
                <app-item itemName="PC Controller" [value]=130 [numYellowStars]=1
                    imgSource="/assets/image5.png"></app-item>
                <app-item itemName="PC Controller" [value]=130 [numYellowStars]=1
                    imgSource="/assets/image5.png"></app-item>
                <app-item itemName="PC Controller" [value]=130 [numYellowStars]=1
                    imgSource="/assets/image5.png"></app-item>
                <app-item itemName="PC Controller" [value]=130 [numYellowStars]=1
                    imgSource="/assets/image5.png"></app-item>
            </div>
            <div>
                <button class="primary-button">View All Products</button>
            </div>
        </div>
    </div>
</div>